<h2>Карточки</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center align-middle">Оригинал</th>
            <th class="text-center align-middle">Перевод</th>
            <th class="text-center align-middle">Дата пересмотра</th>
            <th class="text-center col-md-1"></th>
            <th class="text-center col-md-1"></th>
        </tr>
    </thead>
    <tbody>

        <% @cards.each do |card| %>

        <tr>
            <td><%= card.original %></td>
            <td><%= card.translated %></td>
            <td><%= card.review.strftime('%d-%m-%Y') %></td>
            <td class="text-center"><%= link_to 'Изменить', edit_card_path(card)  %></td>
            <td class="text-center"><%= link_to 'Удалить', card_path(card), method: :delete, data: { confirm: "Вы уверены?" } %></td>
        </tr>

        <% end  %>
    </tbody>
</table>
